<footer class="footer">
   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Fight Analytics</h4>
        <ul>
          <li><a href="/">Services</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="http://manager.fightanalytics.cc/users/sign_in">Login</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Services</h4>
        <ul>
          <li><a href="/digital-media/">Digital Media</a></li>
          <li><a href="/broadcast/">Broadcast</a></li>
          <li><a href="/betting-and-gaming/">Betting & Gaming</a></li>
          <li><a href="/mma-promotions/">MMA Promotions</a></li>
        </ul>
        <h4>Social </h4>
        <ul>
          <li><a href="http://facebook.com/fightanalytics">Facebook</a></li>
          <li><a href="http://twitter.com/fightanalytics">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <img alt="Fight Analytics - MMA Stats" src="{{ '/images/fight-analytics-logo.png' | prepend: site.baseurl }}" class="logo-footer" style="margin-top: 12px;">
        <p><strong>Talk to us:</strong></p>
        <p>contact@fightanalytics.cc</p><br />
        <p><strong>Business Inquiries:</strong></p>
        <p>fabio@fightanalytics.cc</p>
      </div>
  </div>
</footer>
<div class="footer-landing">
    <p>Fight Analytics © 2014 - 2018 - contact@fightanalytics.cc</p>
</div>
