<header class="navbar-fixed-top navbar-inverse">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Fight Analytics - MMA Stats" src="{{ '/images/fight-analytics-logo.png' | prepend: site.baseurl }}">
                </a>
            </div>
            <div class="navbar-left">
                 <ul class="nav navbar-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <li>
                        <a class="page-link" href="/products">PRODUCTS</a>
                    </li>
                    <li>
                        <a class="page-link" href="/about-us">ABOUT</a>
                    </li>
                    <li>
                        <a class="page-link" href="/stats-center">BLOG</a>
                    </li>
                    <li>
                        <a class="page-link" href="/talk-to-a-sales-rep">TALK TO A SALES REP</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <li>
                        <a class="page-link btn btn-md btn-primary get-in-touch" href="http://manager.fightanalytics.cc/users/sign_up">Sign Up</a>
                    </li>
                    <li>
                        <a class="page-link" href="http://manager.fightanalytics.cc/">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>